.App {
  min-height: 100vh;
  text-align: center;
  background-image: url("https://lh6.googleusercontent.com/proxy/A5yKB6Q_rS5zqmWHAvSCbNkPz0ZRmDfZQTR714BdCsE_gvSfjUmqWeAoxCXky1_MKA09-dgUnIspGvuDbIaHKiO6BSjNAgmipfFv07DBErlSqnY9okEiuqSo1qJzdwMqE9StJfWeIgcouxetoRU2wbAt1o_tipuw=s0-d");
  background-size: cover;
  background-repeat: no-repeat;
}

.addnewauction{
  background-color: rgb(63, 67, 75);
}
html,body{
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
